.grid {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    gap: 6px;
    width: 100%;
    margin: 0;
}

.element {
    border: 1px solid black;
    background-color: #f1f1f1;
    height: 80px;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    width: 100%;
    padding: 0;
    cursor: pointer;
}

.element:hover {
    background-color: #ddd;
}

.atomic {
    font-size: 12px;
    font-weight: bold;
}

.name {
    font-size: 16px;
}

.atomic_mass {
    font-size: 12px;
}

.group {
    display: grid;
    gap: 6px;
}

.blank {
    visibility: hidden;
    height: 80px;
}

.special-grid {
    display: grid;
    grid-template-columns: repeat(15, 80px);
    gap: 6px;
    margin: 30px auto 0;
    width: fit-content;
}

.special {
    border: 1px solid black;
    height: 80px;
    width: 80px;
    background-color: #f1f1f1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    box-sizing: border-box;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.highlight {
    border: 3px solid #ffd700;
    background-color: #fff8c6;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.8);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
    }

    50% {
        box-shadow: 0 0 20px rgba(255, 215, 0, 1);
    }

    100% {
        box-shadow: 0 0 5px rgba(255, 215, 0, 0.5);
    }
}

.element-container:hover .element-info {
    display: block;
}

.element-info h2 {
    margin-top: 0;
}

.element-info p {
    margin: 6px 0;
}

.element-info {
    display: none;
    position: fixed;

    z-index: 1000;

    left: 85px;
    top: 0;

    width: 220px;
    padding: 15px;

    background-color: white;
    border: 2px solid black;
    border-radius: 10px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    text-align: left;
}

.error-message {
    color: red;
    margin: 5px 0;
    font-weight: bold;
}

.search input::placeholder {
    color: black;
}

.search input.invalid-input::placeholder {
    color: red;
}

.category-1 .element {
    background-color: #ffcccc;
}

.category-2 .element {
    background-color: #ccffcc;
}

.category-3 .element {
    background-color: #ccccff;
}

.category-4 .element {
    background-color: #ffffcc;
}

.category-5 .element {
    background-color: #ffccff;
}

.category-6 .element {
    background-color: #ccffff;
}

.category-7 .element {
    background-color: #ffd9b3;
}

.category-8 .element {
    background-color: #d9b3ff;
}

.category-9 .element {
    background-color: #b3e6cc;
}

.category-10 .element {
    background-color: #e6b3b3;
}