<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title> something </title>
</head>
<body>
    <div class = "search">
        <search>
            <form method="POST" action= "{{ url_for('table') }}">
                <input type="text" name="element" placeholder="{{ invaild if invaild else 'Type element name' }}" class = "{% if invaild %}invalid-input{% endif %}" minlength="4" maxlength="10">
                <button type="submit">search</button>
            </form>
        </search>
    </div>

    <div class= "grid" >
       {% for group, blank in elements %}
            <div class = "group">

                {% for i in range(blank) %}
                    <div class = "blank">

                    </div>
                {% endfor %}
            
                {% for element in group %}
                    {% if not (58 <= element['Atomic_number'] <= 71 or 90 <= element['Atomic_number'] <= 103) %}
                        <div class = "element-container"> 
                            <form method="POST" action="{{ url_for('table') }}">
                                <input type="hidden" name="element" value="{{ element['Element_name'] }}">
                                    <button type="submit" class = "element {% if target and target['Atomic_number'] == element['Atomic_number']%}highlight{% endif %}">
                                            <span class = "atomic">{{ element['Atomic_number'] }} </span>
                                            <span class = "name">{{ element['Symbol']}}</span>
                                            <span class = "atomic_mass">{{ element['Atomic_mass']}}</span>
                                    </button>
                                </form>
                                <div class="element-info">
                                    <h2>{{ element['Element_name'] }}</h2>
                                    <p><strong>Symbol:</strong> {{ element['Symbol'] }}</p>
                                    <p><strong>Atomic Number:</strong> {{ element['Atomic_number'] }}</p>
                                    <p><strong>Atomic Mass:</strong> {{ element['Atomic_mass'] }}</p>
                                    <p><strong>State:</strong> {{ element['state_name'] }}</p>
                                    <p><strong>Category:</strong> {{ element['category_name'] }}</p>
                                </div>
                        </div>
                    {% endif %}
                {% endfor %}      
            </div> 
        {% endfor %}
    </div>
    <div class="special-grid">
        <div class="element-container"></div>
            {% for group, blank in elements %}
                {% for element in group %}
                    {% if 58 <= element['Atomic_number'] <= 71 %}
                    <form method="POST" action="{{ url_for('table') }}">
                        <button type = "submit" class="special">
                            <span class="atomic">{{ element['Atomic_number'] }}</span>
                            <span class="name">{{ element['Symbol'] }}</span>
                            <span class="atomic_mass">{{ element['Atomic_mass'] }}</span>
                        </button>
                    </form>
                    <div class="element-info">
                        <h2>{{ element['Element_name'] }}</h2>

                        <p><strong>Symbol:</strong> {{ element['Symbol'] }}</p>

                        <p><strong>Atomic Number:</strong> 
                            {{ element['Atomic_number'] }}
                        </p>

                        <p><strong>Atomic Mass:</strong> 
                            {{ element['Atomic_mass'] }}
                        </p>

                        <p><strong>State:</strong> 
                            {{ element['state_name'] }}
                        </p>

                        <p><strong>Category:</strong> 
                            {{ element['category_name'] }}
                        </p>
                    </div>
                
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
         <div class="special-grid">
            {% for group, blank in elements %}
                {% for element in group %}
                    {% if 90 <= element['Atomic_number'] <= 103 %}
                        <div class="special">
                            <span class="atomic">{{ element['Atomic_number'] }}</span>
                            <span class="name">{{ element['Symbol'] }}</span>
                            <span class="atomic_mass">{{ element['Atomic_mass'] }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}


        </div>
</body>
</html>